
    <mat-grid-list cols="3" rowHeight="3:1">
        
    <div *ngFor="let restaurant of restaurantsData" (click)="getMenu()">
        <mat-grid-tile> 
            <mat-card-header>
            <mat-card-title>
                <span>{{restaurant.restaurant.name}}</span>
            </mat-card-title> 
        </mat-card-header>
            <br>
         <img [src]="restaurant.restaurant.thumb"/>
        
    </mat-grid-tile>
    </div>

</mat-grid-list>
    <!-- <mat-grid-list cols="2" rowHeight="2:1">
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
      </mat-grid-list> -->
